<!DOCTYPE html>
<!--
~{::tagName}은 템플릿 조각에서 해당 이름의 파라미터를 전달 받는게 아니라 이쪽에서 해당 이름의 태그를 템플릿 조각(레이아웃)으로
전달한다. 전달된 태그는 레이아웃에서 th:replace, th:insert 등의 작업을 한 후에 아래의 <html> 태그를 th:replace 한다.
-->
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
<!--  ~{::title}에 의해 th:replace 속성이 정의된 태그(<html>) 내의 title 태그 전부는 레이아웃으로 전달됨-->
  <title>메인 페이지 타이틀</title>
</head>
<body>
<!--  ~{::section}에 의해 th:replace 속성이 정의된 태그(<html>) 내의 section 태그 전부는 레이아웃으로 전달됨-->
<section>
  <p>메인 페이지 컨텐츠</p>
  <div>메인 페이지 포함 내용</div>
</section>
</body>
</html>