<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--
타임리프 속성은 태그 내에 써야 하는데 여러 태그에 한꺼번에 속성을
정의 할 필요가 있을 경우 사용(이것 밖에 방법이 없을 경우에만 사용하는 것이 좋다.)
예를 들면 아래의 경우에는 div 태그 안에 th:each를 사용해서 원하는 결과를 만들 수 없다.
-->
<th:block th:each="user : ${users}">
  <div>
    사용자 이름1 <span th:text="${user.username}"></span>
    사용자 나이1 <span th:text="${user.age}"></span>
  </div>
  <div>
    요약 <span th:text="${user.username} + ' / ' + ${user.age}"></span>
  </div>
</th:block>
</body>
</html>